<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<style>
  .sharing p {
    line-height: 0.6 !important;
  }
</style>

<body>
  <script src="https://cdn.upchina.com/lib/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.upchina.com/lib/uphybrid.min-1.0.0.js"></script>
  <!-- <script src="//sharecomm.upchina.com/share.js"></script> -->
  <title></title>
  <link href="https://cdn.upchina.com/front/20211209shareVip/wx/css/chunk-d08f3f5a.1d6a05b0.css" rel="prefetch">
  <link href="https://cdn.upchina.com/front/20211209shareVip/wx/js/chunk-d08f3f5a.e817ac8b.js" rel="prefetch">
  <link href="https://cdn.upchina.com/front/20211209shareVip/wx/css/chunk-vendors.7154f2db.css" rel="preload"
    as="style">
  <link href="https://cdn.upchina.com/front/20211209shareVip/wx/css/index.4b4c483c.css" rel="preload" as="style">
  <link href="https://cdn.upchina.com/front/20211209shareVip/wx/js/chunk-vendors.f8683747.js" rel="preload" as="script">
  <link href="https://cdn.upchina.com/front/20211209shareVip/wx/js/index.cbe197c6.js" rel="preload" as="script">
  <link href="https://cdn.upchina.com/front/20211209shareVip/wx/css/chunk-vendors.7154f2db.css" rel="stylesheet">
  <link href="https://cdn.upchina.com/front/20211209shareVip/wx/css/index.4b4c483c.css" rel="stylesheet">
  <div id="app"></div>
  <script src="https://cdn.upchina.com/front/20211209shareVip/wx/js/chunk-vendors.f8683747.js"></script>
  <script src="https://cdn.upchina.com/front/20211209shareVip/wx/js/index.cbe197c6.js"></script>
</body>

</html>